version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_local
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5500:5432"

  web:
    build: .
    container_name: django_local
    command: daphne -b 0.0.0.0 -p 8000 meteorite_backend.asgi:application
    volumes:
      - .:/app
    ports:
      - "8080:8000"
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis_local
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
